<!--<user-login-service (onLogin)="parentLogin($event)" (onLoginErr)="parentLoginErr($event)"></user-login-service>-->
<form #userForm="ngForm" (ngSubmit)="ResetPassword(userForm.value)" class="col-sm-4">
  <h1 class="text-center"><b>Zen DXB</b></h1>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label"><b>Email:</b></label>
    <div class="col-sm-10">
      <input id="email" type="text" class="form-control" required name="email" #email="ngModel" ngModel>
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="badge badge-danger">
        Email is required.
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary float-right">Reset</button>
</form>
<label [hidden]="isSuccess" class="text-danger">{{Notification}}</label>
<label [hidden]="!isSuccess" class="text-success">{{Notification}}</label>

